@import "tailwindcss";

@theme {
  --color-space-900: #0B0C10;
  --color-nebula-primary: #8B5CF6;
  --color-nebula-secondary: #06B6D4;
}

:root {
  --foreground-rgb: 255, 255, 255;
}

body {
  background-color: var(--color-space-900);
  color: white;
  overflow: hidden; /* Impede qualquer rolagem */
  font-family: system-ui, -apple-system, sans-serif;
}
